<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-4 col-xl-3 chat">
      <div class="card mb-sm-3 mb-md-0 contacts_card">
      <div class="card-header">
        <div class="input-group">
          <input type="text" placeholder="Search..." name="" class="form-control search">
          <div class="input-group-prepend">
            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="card-body contacts_body">
        <div *ngIf="blockUser" class="contacts">
          <li *ngFor="let user of users" class="active">
            <div (click)="switchUser(user)" class="d-flex bd-highlight">
              <div class="img_cont">
                <div class="rows">
                  <div class="circles">
                    {{getInitials(user.name)}}
                  </div>
                </div>
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>{{user.name}}</span>
                <p>{{user.name}} is online</p>
              </div>
            </div>
          </li>
        </div>
        <div *ngIf="!blockUser" class="contacts">
          <li *ngFor="let groupe of groupes" class="active">
            <div (click)="switchGroupe(groupe)" class="d-flex bd-highlight">
              <div class="img_cont">
                <div class="rows">
                  <div class="circles">
                    {{getInitials(groupe.name)}}
                  </div>
                </div>
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>{{groupe?.name}}</span>
                <p>{{groupe.name}} is online</p>
              </div>
            </div>
          </li>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-around align-items-center">
          <div class="footer_icon" (click)="toggleBlock()">
            <span><i [ngClass]="blockUser ? 'active-icon' : ''" class="fas fa-user"></i></span>
          </div>
          <div (click)="toggleBlock()" class="footer_icon">
            <span><i [ngClass]="!blockUser ? 'active-icon' : ''" class="fas fa-users"></i></span>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div *ngIf="blockUser" class="col-md-8 col-xl-6 chat">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <div class="rows">
                <div class="circles">
                  {{getInitials(receiver?.name)}}
                </div>
              </div>
              <span class="online_icon"></span>
            </div>
            <div class="user_info">
              <span>{{receiver?.name}}</span>
              <p>{{userDiscussions.length}} Message(s)</p>
            </div>
            <div class="video_cam">
              <span><i class="fas fa-video"></i></span>
              <span><i class="fas fa-phone"></i></span>
            </div>
          </div>
          <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
          <div class="action_menu">
            <ul>
              <div *ngIf="!addGroupForm">
                <li><i class="fas fa-user-circle"></i> View profile</li>
                <li><i class="fas fa-users"></i> Add to close friends</li>
                <li class="submit_group" (click)="addGroupForm = !addGroupForm"><i class="fas fa-plus"></i> Add to group</li>
                <li><i class="fas fa-ban"></i> Block</li>
              </div>
              <li *ngIf="addGroupForm">
                <form [formGroup]="groupeForm">
                  <div class="input-group">
                    <input type="text" placeholder="Nom du groupe" formControlName="name" class="form-control search">
                    <div (click)="createGroupe()" class="input-group-prepend">
                      <span class="input-group-text search_btn"><i class="fas fa-location-arrow"></i></span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body msg_card_body">
          <div *ngFor="let discussion of userDiscussions">
            <div *ngIf="discussion.sender !== currentUser.id; else sender">
              <div  class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <div class="rows">
                    <div class="avatar-msg">
                      {{getInitials(receiver?.name)}}
                    </div>
                  </div>
                </div>
                <div class="msg_cotainer">
                  {{discussion.message}}
                  <span class="msg_time">{{discussion.createdAt  | date:'yyyy-MM-dd'}}</span>
                </div>
              </div>
            </div>
            <ng-template #sender>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                  {{discussion.message}}
                  <span class="msg_time_send">{{discussion.createdAt  | date:'yyyy-MM-dd'}}</span>
                </div>
                <div class="img_cont_msg">
                  <div class="rows">
                    <div class="avatar-msg">
                      {{getInitials(currentUser.name)}}
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <form [formGroup]="messageForm">
          <div class="card-footer">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
              </div>
              <textarea formControlName="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
              <div (click)="sendMessage()" class="input-group-append">
                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
              </div>
            </div>
            <div *ngIf="isSubmitted && formControls.message.errors" class="help-block">
              <div *ngIf="formControls.message.errors.required" class="text-danger">Message is required</div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="!blockUser" class="col-md-8 col-xl-6 chat">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <div class="rows">
                <div class="circles">
                  {{getInitials(selectGroupe?.name)}}
                </div>
              </div>
              <span class="online_icon"></span>
            </div>
            <div class="user_info">
              <span>{{selectGroupe?.name}}</span>
              <p>{{groupeDiscussions.length}} Message(s)</p>
            </div>
            <div class="video_cam">
              <span><i class="fas fa-video"></i></span>
              <span><i class="fas fa-phone"></i></span>
            </div>
          </div>
          <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
          <div class="action_menu">
            <ul>
              <div *ngIf="!addGroupForm">
                <li><i class="fas fa-user-circle"></i> View profile</li>
                <li><i class="fas fa-users"></i> Add to close friends</li>
                <li class="submit_group" (click)="addGroupForm = !addGroupForm"><i class="fas fa-plus"></i> Add to group</li>
                <li><i class="fas fa-ban"></i> Block</li>
              </div>
              <li *ngIf="addGroupForm">
                <form [formGroup]="groupeForm">
                  <div class="input-group">
                    <input type="text" placeholder="Nom du groupe" formControlName="name" class="form-control search">
                    <div (click)="createGroupe()" class="input-group-prepend">
                      <span class="input-group-text search_btn"><i class="fas fa-location-arrow"></i></span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body msg_card_body">
          <div *ngFor="let discussion of groupeDiscussions">
            <div *ngIf="discussion.sender !== currentUser.id; else sender">
              <div  class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <div class="rows">
                    <div class="avatar-msg">
                      {{getInitials(receiver?.name)}}
                    </div>
                  </div>
                </div>
                <div class="msg_cotainer">
                  {{discussion.message}}
                  <span class="msg_time">{{discussion.createdAt  | date:'yyyy-MM-dd'}}</span>
                </div>
              </div>
            </div>
            <ng-template #sender>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                  {{discussion.message}}
                  <span class="msg_time_send">{{discussion.createdAt  | date:'yyyy-MM-dd'}}</span>
                </div>
                <div class="img_cont_msg">
                  <div class="rows">
                    <div class="avatar-msg">
                      {{getInitials(currentUser?.name)}}
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <form [formGroup]="messageForm">
          <div class="card-footer">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
              </div>
              <textarea formControlName="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
              <div (click)="sendMessage(true)" class="input-group-append">
                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
              </div>
            </div>
            <div *ngIf="isSubmitted && formControls.message.errors" class="help-block">
              <div *ngIf="formControls.message.errors.required" class="text-danger">Message is required</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
