.mainApp {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.sec {
    text-align: center;
}

.author {
    color:#dadada26;
}